layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{tabs}"
                format_center ""
                format_right  ""
                format_space  ""

                tab_normal              "#[fg=#9699a3] {name} "
                tab_normal_fullscreen   "#[fg=#9699a3] {name} "
                tab_normal_sync         "#[fg=#9699a3] {name} "
                tab_active              "#[fg=#3760bf,bold] {name} "
                tab_active_fullscreen   "#[fg=#3760bf,bold] {name} "
                tab_active_sync         "#[fg=#3760bf,bold] {name} "

                tab_separator           ""
            }
        }
    }
}
